<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @meeting.name %>
</p>

<p>
  <b>Start date:</b>
  <%= @meeting.start_date.strftime("%m/%d/%Y %I:%M %p")  %>
</p>

<p>
  <b>End date:</b>
  <%= @meeting.end_date.strftime("%m/%d/%Y %I:%M %p")  %>
</p>



<div id="floatbox">
	<b>Venue Information:</b><br />
	<%= link_to @meeting.venue.name, @meeting.venue %><br />
	<%= @meeting.venue.address %><br />
	<%= @meeting.venue.city %>, <%= @meeting.venue.state %> <%= @meeting.venue.zip %>
	
	<br /><br />
	<b>Sponsors:</b><br />
	<% @meeting.sponsors.each do |s| %>
		<%= link_to s.exhibitor.name, s.exhibitor %> <br />
	<% end %>
</div>

<br /><br />
<%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<%= link_to 'Back', meetings_path %>
