<h1>Listing contests</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Prize</th>
    <th>Present to win</th>
    <th>Start date</th>
    <th>End date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contests.each do |contest| %>
  <tr>
    <td><%= contest.name %></td>
    <td><%= contest.prize %></td>
    <td><%= contest.present_to_win ? 'Yes' : 'No' %></td>
    <td><%= contest.start_date %></td>
    <td><%= contest.end_date %></td>
    <td><%= link_to 'Show', contest %></td>
    <td><%= link_to 'Edit', edit_contest_path(contest) %></td>
    <td><%= link_to 'Destroy', contest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contest', new_contest_path %>
